body
{
    margin: 0px auto;
    width: 60%;
    text-align: center;
}
.maindiv
{
    margin-top: 5%;
    padding: 10px;
    box-shadow: 2px 2px 2px 3px #8888;
}
.user-form
{
    background-color: red;
    margin: 20px;
    padding: 9px;
}
label
{
    font-size: 24px;

}
input
{
    width: 64%;
    height: 24px;
}
.formgroup
{
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
button
{
    background-color: green;
    color: black;
}